snippet desc
	describe "${1:message}" do
		${0}
	end

snippet cont
	context "${1:message}" do
		${0}
	end

snippet it
	it "${1:spec_name}" do
		${0}
	end

snippet def
	def ${1:method} do
	  ${0}
	end

snippet defp
	defp ${1:method} do
	  ${0}
	end

snippet defm
	defmodule ${1:Module} do
	  ${0}
	end

snippet if
	if ${1:condition} do
	  ${0}
	end

snippet case
	case ${1:condition} do
	  ${0}
	end
